*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 400px;
    background-color: rgb(227, 242, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    padding: 20px;
}
.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.image-container{
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
    border-radius: 10px;
}
img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
}
.music-content{
    text-align: center;
    margin-top: 20px;
}
.music-controls{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.progress-bar{
    width: 100%;
    height: 10px;
    margin-top: 10px;
    background-color: black;
    border-radius: 10px;
}
.progress{
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 10px;
}
.timers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;
}
.play-pause i:nth-child(1){
    font-size: 25px;
}
.music-controls i:hover{
    cursor: pointer;
}